.Home{
    display: flex;
    margin-top: 20px;
    min-height: 100vh;
}
.home-container{
    display: flex!important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    max-width: 100%!important;
    flex-wrap: wrap;
}
.choose-box{
    padding: 0;
    margin: 10px;
    border: 1px solid ;
    height: 500px;
    width: 500px;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
}
.student {
    background-color: #4e73df;
}
.teacher{
    background-color: #E2B84F;
}
span{
    font-size: 50px;
}
.button-class{
    padding-top: 5px !important;
    margin-top: 5px !important;
    color: black!important;
    background-color: white!important;
}